.icer {
filter: blur(4px);
width: 208px;
height:190px;
}

.icer2 {
width: 58px;
height:51px;
}
.icer3 {
width: 104px;
height:102px;
  transform: rotate(45deg);
}
.icer4 {
  filter: blur(5px);
transform: rotate(-45deg);
width: 58px;
height:51px;
}
.icer5 {
width: 58px;
height:51px;
transform: rotate(-25deg);
}
.icer6 {
width: 104px;
height:102px;
  transform: rotate(60deg);
}
.icer7 {
  filter: blur(1px);
transform: rotate(-30deg);
width: 230px;
height:204px;
}
