.shadow{
  position: fixed;
  top:690px;
  left: 450px;
  width: 700px;
  border-radius: 50%;
  height: 1px;
  box-shadow: -270px 85px 20px 40px rgba(222,138,49,1);
  transition: opacity 0.5s;

}
.shadow h2{
width: 200px;
font-weight: 500;
color: white;
margin-top: 0px;
margin-left: 20px;

}
.arrow {
  position: absolute;
  top: 45px;
  left: 70px;
  width: 15px;
  height: 15px;
}

.arrow::before,
.arrow::after {
  position: relative;
  content: '';
  display: block;
  width: 31px;
  height: 2px;
  background: #000;
  background-color: white;
}

.arrow::before {
  transform: rotate(45deg);
}

.arrow::after {
  top:-2px;
  left: 22px;
  transform: rotate(-45deg);
}
